# registry=https://registry.npmjs.org/
# registry=http://registry.npm.taobao.org/
public-hoist-pattern[]="@vue/runtime-core"
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
